.input-label {
    font-family: AGAvantGardeCyr;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.4px;
    text-align: left;

    @media (min-width: 1020px) {
        font-size: 14px;
    }
}