@font-face {
  font-family: 'AGAvantGardeCyr';
  src: url('./assets/fonts/agavantgardecyr-book.woff2') format('woff2'),
       url('./assets/fonts/agavantgardecyr-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'AGAvantGardeCyr', sans-serif;
}
  
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
  
body {
  line-height: 1;
}
  
ol, ul {
  list-style: none;
}
  
blockquote, q {
  quotes: none;
}
  
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.box{
    width: 100%;
    height: 100vh;
    background: transparent;
    overflow: hidden;
    position: relative;
    position: absolute;
    z-index: 100000;
}

::-webkit-scrollbar {
  width: 1px; 
}


::-webkit-scrollbar-track {
  background:#408759; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.custom-select .ant-select-selector {
  border: none !important; /* Убираем бордеры */
  background-color: transparent !important; /* Прозрачный фон */
}

.custom-select .ant-select-selection-placeholder {
  color: #000; /* Цвет текста по умолчанию */
  font-size: 16px; /* Размер текста по умолчанию */
}

.custom-select .ant-select-selection-item {
  color: #000; /* Цвет выбранных элементов */
  font-size: 16px; /* Размер текста */
}
.check-box-custom{
  background: url('./assets/iconCustomElement/CheckFalse.svg') center / cover no-repeat;
  min-width: 20px;
  min-height: 20px;
}
.custom-select{
  /* max-width: 200px; */
  /* height: auto; */
  /* background-color: red; */
}
.custom-select > button{
  /* max-width: 200px; */
}
.customUl{
  position: absolute;
  min-width: 100px;
  border: 1px solid #00000012;
  box-shadow: 0px 2.77px 2.21px 0px #00000005;
  box-shadow: 0px 6.65px 5.32px 0px #00000007;
  box-shadow: 0px 12.52px 10.02px 0px #00000009;
  box-shadow: 0px 22.34px 17.87px 0px #0000000B;
  box-shadow: 0px 41.78px 33.42px 0px #0000000D;
  box-shadow: 0px 100px 80px 0px #00000012;
}